@font-face {
  font-family: "Inter";
  src: local('sans-serif'), url("../fonts/Inter-Regular.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: local('sans-serif'), url("../fonts/Inter-Bold.woff2");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: local('sans-serif'), url("../fonts/Inter-Italic.woff2");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans Myanmar";
  src: local('Noto Sans Myanmar'), 
       local('Pyidaungsu'),
       /*local('Myanmar Text'), 
       local('Myanmar Sangam MN'),*/
       url("../fonts/NotoSansMyanmar-Regular.woff2");
  font-display: swap;
}
